<h4>User Details:</h4>

	<form class="form-horizontal" role="form" ng-if="currentUser">
		<div class="form-gourp">
			<label class="control-label col-sm-2" for="userName">Name:</label>
			<input id="userName" type="text" ng-model="userProfile[0].profile.name" class="form-control" style="width: 30%">
		</div>
		<div class="form-gourp">
			<label class="control-label col-sm-2" for="userSurname">Surname:</label>
			<input id="userSurname" type="text" ng-model="userProfile[0].profile.surname" class="form-control" style="width: 30%">
		</div>
		<div class="form-inline">
			<label class="control-label col-sm-2" for="userLevel">Level:</label>
			<select id="userLevel" ng-model="userProfile[0].profile.level" class="form-control" style="width: 50%">
				<option ng-repeat="level in levels" value="{{level.value}}">{{level.name}}</option>
			</select>

			<button ng-click="save()" class="btn btn-primary">Save</button>
		</div>
	</form>